#hidden{
    display: none;
}

#visible{
    margin-left: 300px;
}

.selectmenu{
    margin-top: 40px;
}

.future{
    margin-top: 200px;
    margin-left: 160px;
}

.col-auto{
    margin-right: 30px;
}

.cities{
    width: 200px;
}

.severe{background-color: red;}

.moderate{background-color: yellow;}

.favorable{background-color: green;}